# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
example/.expo/
dist/
web-build/
example/android/*
example/ios/*

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
.idea

# local env files
.env*.local

# typescript
*.tsbuildinfo
.expo/README.md
.expo/devices.json
