name: Code Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Lint
        run: yarn run lint

      - name: Typecheck
        run: yarn run typecheck

      - name: Unit Test
        run: yarn run test
